html, body {
    height: 100%;
}

body {
    display: flex;
    margin: 0;
}

h2 {
    font-size: 1rem;
}

.content {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
}

.button {
    border: 1px solid;
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.green-button {
    background-color: #4CAF50;
}

.red-button {
    background-color: #ff8a8a;
}

.add-todo-form {
    display: flex;
    gap: 2rem;
    margin-bottom: 20px;
}

.add-todo-form input {
    width: 100%;
}

.tasks {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px 20px;
    overflow-y: auto;
}

.tasks ol {
    padding: 0;
    gap: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tasks ol:not(:last-child) {
    margin-bottom: 15px;
}

.task-name {
    text-decoration: underline;
}

.task-name-completed {
    text-decoration: line-through;
}

.action-buttons {
    display: flex;
    gap: 10px;
}
